# --- 1. Python rác (Cache) ---
__pycache__/
*.py[cod]
*$py.class

# --- 2. Môi trường ảo (Nặng hàng trăm MB, KHÔNG UP LÊN) ---
.venv/
venv/
env/
ENV/

# --- 3. Bảo mật (Mật khẩu DB, Secret Key - QUAN TRỌNG NHẤT) ---
.env
.env.*


# --- 5. IDE & Hệ thống (File rác của VS Code, Mac, Win) ---
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
*.log
